<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" href="/fonts/fonts.min.css" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.34/css/uikit.min.css" />
    <link rel="stylesheet" href="/css/snazzy-info-window.min.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>

    
    <div class="uk-section" id="leadsApp">

      <div class="leads-nav--side-container uk-container">
        <leads-nav-side v-on:exportleadsjson="ExportLeadsJSON" v-on:exportleadscsv="ExportLeadsCSV"></leads-nav-side>
      </div>

      <div class="leads-content-container uk-container">
          <leads-search v-on:search="GetNearbyPlaces" :searchinput="searchInput" :searchenabled="searchEnabled"></leads-search>
          
          <leads-map :mapspinnerenabled="mapSpinnerEnabled"></leads-map>
    
          <div id="placesResultsList" class="uk-flex uk-flex-row uk-flex-around uk-margin uk-flex-wrap">
            <div v-if="places.length == 0" id="noResults" class="uk-card uk-card-large uk-card-default uk-width-1-1">
              <span uk-icon="icon: warning"></span> No results found.
              <p class="no-results-description uk-text-meta">Try using more descriptive terms</p>
            </div>
            <leads-place v-on:getplacedetails="GetPlaceDetails" v-on:openinfowindow="OpenInfoWindow" v-for="place in places" :key="place.place_id" :place="place"></leads-place>
          </div>
    
          <leads-place-overlay v-on:getcontactdetails="GetContactDetails" v-on:getcontacts="GetContacts" :selectedplace="selectedPlace"></leads-place-overlay>
          <leads-contact-overlay :contact="selectedContact"></leads-contact-overlay>
      </div>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUi4ei2kP69AvGM2jYcU6jFVBhhmKW3xk&libraries=places"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.34/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.34/js/uikit-icons.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="/js/snazzy-info-window.min.js"></script>
    <script src="/js/papaparse.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>