#placesResultsList {
  .place-item {
    flex: 1;
    flex-basis: 30%;
    margin: 0 10px 30px;

    display: flex;
    flex-direction: column;

    .uk-card-body {
      flex-grow: 1;
      text-align: center;

      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      .place-item-marker {
        margin-right: 15px;
        position: relative;
        flex: 0 0 auto;

        img {
          width: 35px;
          height: 50px;
        }

        span {
          position: absolute;
          left: 12px;
          top: 6px;
          color: #FFF;
          width: 11px;
        }
      }

      .place-item-title {
        cursor: pointer;

        &:hover {
          color: #888;
        }
      }
    }
  }
}

#noResults {
  display: none;

  padding: 25px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .uk-icon {
    margin-right: 10px;
  }

  .no-results-description {
    flex-basis: 100%;
    text-align: center;
    margin: 5px 0;
  }

  &.visible {
    display: flex;
  }
}

#placeDetailsOverlay {
  
  .uk-offcanvas-bar {
    width: 75%!important;

    .place-details {

      div {
        margin: 10px 0;
      }
    }
  }

  .more-button {
    height: 36px;
    color: #FFF!important;
    position: relative;
    padding-left: 25px;

    .uk-icon {
      position: absolute;
      left: 0;
      top: 9px;
    }

    .uk-icon:nth-of-type(1) {
      color: #1e87f0!important;
      opacity: 1;
      transition: all .25s ease-in-out;
    }

    .uk-icon:nth-of-type(2) {
      color: #2ecc71!important;
      opacity: 0;
      transform: rotate(-360deg);
      transition: all .25s ease-in-out;
    }

    .uk-icon:nth-of-type(3) {
      opacity: 0;
      transform: rotate(360deg);
      transition: all .25s ease-in-out;
    }

    &:before {
      border-bottom: none!important;
    }

    &.completed {
      .uk-icon:nth-of-type(1) {
        opacity: 0;
        transform: rotate(360deg);
        transition: all .25s ease-in-out;
      }

      .uk-icon:nth-of-type(2) {
        opacity: 1;
        transform: rotate(0deg);
        transition: all .25s ease-in-out;
      }

      .uk-icon:nth-of-type(3) {
        opacity: 0;
        transform: rotate(360deg);
        transition: all .25s ease-in-out;
      }
    }
    &[disabled] {
      color: #AAA!important;

      .uk-icon {
        color: #AAA!important;
        opacity: 0;

        .uk-icon:nth-of-type(1) {
          transform: rotate(-360deg);
          transition: all .25s ease-in-out;
        }

        &:nth-of-type(3) {
          opacity: 1;
          transform: rotate(0deg);
          transition: all .25s ease-in-out;
        }
      }
    }
  }
}

#placeContactsContent {

  .place-contact {
    flex: 1;
    flex-basis: 40%;
    margin: 0 10px 30px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;

    .uk-card-body {
      flex-grow: 1;
      text-align: center;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .uk-text-bold a {
        color: #666!important;
        text-decoration: none!important;
      }

      .uk-text-meta {
        color: #999!important;
      }
    }

    .uk-card-footer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .uk-badge {
        background-color: #1e87f0!important;
        color: #FFF!important;
        margin: 5px;
        font-size: 12px;
      }

      .uk-label {
        background-color: #EEE!important;
        margin: 5px;
        font-size: 12px;
      }

      .place-contact-details-button {
        background-color: #1e87f0!important;
        color: #FFF!important;
        position: absolute;
        bottom: 0;
        margin-bottom: 0!important;
      }
    }
  }
}

#contactDetailsOverlay {
  .uk-offcanvas-bar {
    width: 75%!important;

    .contact-details {

      .contact-details-images {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        .contact-details-image {
          height: 200px;
          flex: 1;
          margin: 0 15px 15px;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
    }

    a {
      color: rgba(255,255,255,.7)!important;
    }

    .uk-list-striped>li:nth-of-type(odd) {
      background-color: rgba(255,255,255,0.009)!important;
    }
  }
}