#map {
  height: 400px;
  width: 100%; }

#mapSpinner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none; }
  #mapSpinner.show {
    display: flex; }

.si-content {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif; }

#placesResultsList .place-item {
  flex: 1;
  flex-basis: 30%;
  margin: 0 10px 30px;
  display: flex;
  flex-direction: column; }
  #placesResultsList .place-item .uk-card-body {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    #placesResultsList .place-item .uk-card-body .place-item-marker {
      margin-right: 15px;
      position: relative;
      flex: 0 0 auto; }
      #placesResultsList .place-item .uk-card-body .place-item-marker img {
        width: 35px;
        height: 50px; }
      #placesResultsList .place-item .uk-card-body .place-item-marker span {
        position: absolute;
        left: 12px;
        top: 6px;
        color: #FFF;
        width: 11px; }
    #placesResultsList .place-item .uk-card-body .place-item-title {
      cursor: pointer; }
      #placesResultsList .place-item .uk-card-body .place-item-title:hover {
        color: #888; }

#noResults {
  display: none;
  padding: 25px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  #noResults .uk-icon {
    margin-right: 10px; }
  #noResults .no-results-description {
    flex-basis: 100%;
    text-align: center;
    margin: 5px 0; }
  #noResults.visible {
    display: flex; }

#placeDetailsOverlay .uk-offcanvas-bar {
  width: 75% !important; }
  #placeDetailsOverlay .uk-offcanvas-bar .place-details div {
    margin: 10px 0; }

#placeDetailsOverlay .more-button {
  height: 36px;
  color: #FFF !important;
  position: relative;
  padding-left: 25px; }
  #placeDetailsOverlay .more-button .uk-icon {
    position: absolute;
    left: 0;
    top: 9px; }
  #placeDetailsOverlay .more-button .uk-icon:nth-of-type(1) {
    color: #1e87f0 !important;
    opacity: 1;
    transition: all .25s ease-in-out; }
  #placeDetailsOverlay .more-button .uk-icon:nth-of-type(2) {
    color: #2ecc71 !important;
    opacity: 0;
    transform: rotate(-360deg);
    transition: all .25s ease-in-out; }
  #placeDetailsOverlay .more-button .uk-icon:nth-of-type(3) {
    opacity: 0;
    transform: rotate(360deg);
    transition: all .25s ease-in-out; }
  #placeDetailsOverlay .more-button:before {
    border-bottom: none !important; }
  #placeDetailsOverlay .more-button.completed .uk-icon:nth-of-type(1) {
    opacity: 0;
    transform: rotate(360deg);
    transition: all .25s ease-in-out; }
  #placeDetailsOverlay .more-button.completed .uk-icon:nth-of-type(2) {
    opacity: 1;
    transform: rotate(0deg);
    transition: all .25s ease-in-out; }
  #placeDetailsOverlay .more-button.completed .uk-icon:nth-of-type(3) {
    opacity: 0;
    transform: rotate(360deg);
    transition: all .25s ease-in-out; }
  #placeDetailsOverlay .more-button[disabled] {
    color: #AAA !important; }
    #placeDetailsOverlay .more-button[disabled] .uk-icon {
      color: #AAA !important;
      opacity: 0; }
      #placeDetailsOverlay .more-button[disabled] .uk-icon .uk-icon:nth-of-type(1) {
        transform: rotate(-360deg);
        transition: all .25s ease-in-out; }
      #placeDetailsOverlay .more-button[disabled] .uk-icon:nth-of-type(3) {
        opacity: 1;
        transform: rotate(0deg);
        transition: all .25s ease-in-out; }

#placeContactsContent .place-contact {
  flex: 1;
  flex-basis: 40%;
  margin: 0 10px 30px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column; }
  #placeContactsContent .place-contact .uk-card-body {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #placeContactsContent .place-contact .uk-card-body .uk-text-bold a {
      color: #666 !important;
      text-decoration: none !important; }
    #placeContactsContent .place-contact .uk-card-body .uk-text-meta {
      color: #999 !important; }
  #placeContactsContent .place-contact .uk-card-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    #placeContactsContent .place-contact .uk-card-footer .uk-badge {
      background-color: #1e87f0 !important;
      color: #FFF !important;
      margin: 5px;
      font-size: 12px; }
    #placeContactsContent .place-contact .uk-card-footer .uk-label {
      background-color: #EEE !important;
      margin: 5px;
      font-size: 12px; }
    #placeContactsContent .place-contact .uk-card-footer .place-contact-details-button {
      background-color: #1e87f0 !important;
      color: #FFF !important;
      position: absolute;
      bottom: 0;
      margin-bottom: 0 !important; }

#contactDetailsOverlay .uk-offcanvas-bar {
  width: 75% !important; }
  #contactDetailsOverlay .uk-offcanvas-bar .contact-details .contact-details-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; }
    #contactDetailsOverlay .uk-offcanvas-bar .contact-details .contact-details-images .contact-details-image {
      height: 200px;
      flex: 1;
      margin: 0 15px 15px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
  #contactDetailsOverlay .uk-offcanvas-bar a {
    color: rgba(255, 255, 255, 0.7) !important; }
  #contactDetailsOverlay .uk-offcanvas-bar .uk-list-striped > li:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.009) !important; }

body {
  padding: 100px 0; }
